
// Body
$body-bg: #f8fafc;
$brand-primary:#0e172a;

// Typography
$font-family-sans-serif: "jostmedium", sans-serif;
$font-size-base: 0.95rem;
$line-height-base: 1.6;
$link-hover-decoration: none;

$border-radius-base:        4px !default;
$border-radius-large:       6px !default;
$border-radius-small:       3px !default;
$input-box-shadow: none;
$input-focus-box-shadow: none;
$input-btn-focus-box-shadow: none;
$input-border-radius:            0;
$input-border-radius-large:      0;
$input-border-radius-small:      0;

// Colors
$blue: #0e172a;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$black:#000000;
$white:#FFFFFF;
$theme-colors: (
  "white": #FFFFFF,
  "black":#000000
);
