<template>
<span class="py-2">
    <span v-if="type == 'material'" class="material-icons">
        <slot></slot>
    </span>    
    <span v-else-if="type == 'fa'" :class="fontAwesomeClass"></span>    
</span>
</template>

<script>
export default {
    props:{
        type:String,
        fontAwesomeClass:String,
    }
}
</script>

<style>

</style>
