@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');
@import 'font';
@import '~animate.css/animate.min.css';

$font-family-sans-serif: "jostbook", sans-serif;
$black:#000000;
$white:#ffffff;
.application::selection{
    border-color: $black;
    color: $white;
}
.application {
    font-family: $font-family-sans-serif;
    line-height: 1.5;
}
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6
{
    font-family: 'jostmedium' !important;
}
.toolbar-item{
    font-family: 'jostlight';
    margin-top: 5px;
    padding: 16px 10px;
    color: $black;
    text-decoration: none;
    text-transform: uppercase;
}
.main-home-landing{
    min-height: 40vh;
}
.main-text{
    font-family: 'jostlight';
    font-size: 2.5rem;
}
a{
    text-decoration: none;
}
.line-heighted-para{
    line-height: 40px;
    letter-spacing: 0.5px;
}
.border-bottom{
    border-bottom: 1px solid #efefef;
}
.c-bnt{
    padding:5px;
    font-size: 20px;
    width:24%;
    color:$black;
    border-radius: 4px;
    margin: 0;
    border:1px solid $black;
    outline: none;
}
.c-bnt:hover,.c-bnt:focus{
    background-color: $black;
    color: $white;
}
.form-control{
    margin: 0;
    border:1px solid $black;
    padding:5px;
    font-size: 20px;
    width: 48%;
    text-align: center;
}
.linehighted{
    line-height: 40px;
}

// 50200032205565